<!DOCTYPE HTML>
<html>
	<head>
		<title>URL Shortener</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css" />
    <style>
      body {
        font-family: 'Pretendard';
        background-image: url('https://images.unsplash.com/photo-1596367407372-96cb88503db6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
      }
    </style>
	</head>
	<body class="is-preload">
   <center>
			<header id="header">
        <div style="height:20vh;"></div>
				<h1 style="font-size: 50px;">#Let's Sher</h1>
				<p style="font-size: 25px;">Python Flask 기반으로 작성된 직접 만든 ShortenerEngine 입니다. Github에서 소스코드를 볼 수 있습니다.</p>
			</header>

			<form id="shortener-form" method="get" action="/api">
				<input style="width: 50vw; height:5vh;font-size: 25px; border: 0;border-radius: 15px;outline: none;padding-left: 10px;background-color: rgb(233, 233, 233);" type="link" name="link" id="link" placeholder="단축할 URL 주소를 입력하세요." />
				<input style="height:5vh;font-size: 25px; border: 0;border-radius: 15px;outline: none;padding-left: 10px;background-color: rgb(233, 233, 233);"type="submit" value="단축" />
			</form>

			<footer id="footer">
					<p>&copy; ShortenerEngine from Nickname.</p>
          <p>Do not use this website for any illegal or malicious purposes.</p>
			</footer>
   </center>
	</body>
</html>