<!DOCTYPE HTML>
<html>
	<head>
    <link rel="shortcut icon" href="https://i.imgur.com/gXED0yv.png">
    <link rel="icon" type="image/png" href="https://i.imgur.com/gXED0yv.png">
		<title>#StyleShortener</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css" />
    <style>
      body {
        font-family: 'Pretendard';
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://source.unsplash.com/random/?ocean,beach');
        background-size: cover;
      }
    </style>
	</head>
	<body class="is-preload">
   <center>
			<header id="header">
        <div style="height:20vh;"></div>
				<h1 style="font-size: 50px; color:white;">#StyleShortener</h1>
				<p style="font-size: 25px;color:white;">안전하게, 간단하게, 심플하게. StyleShortener 엔진으로 단축합니다.</p>
			</header>

			<form id="shortener-form" method="get" action="/api">
				<input style="width: 50vw; height:5vh;font-size: 	1.45em; border: 0;border-radius: 15px;outline: none;padding-left: 10px;background-color: rgb(233, 233, 233);" type="link" name="link" id="link" placeholder="단축할 URL 주소를 입력하세요." />
				<input style="height:5vh;font-size: 1.45em; border: 0;border-radius: 15px;outline: none;padding-left: 10px;background-color: rgb(233, 233, 233);"type="submit" value="단축" />
			</form>

			<footer id="footer">
					<p style='color:white;'>&copy; 
          StyleShortenerEngine | Replit</br>StyleShortenerEngine from Nickname.<br>
          Do not use this website for any illegal or malicious purposes.</p>
			</footer>
   </center>
	</body>
</html>